* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

.navbar-right{
	background-color: #FFF;
}

#countup{
	font-family: 'Montserrat';
	font-size: 25px;
	color: #44505A;
	opacity: 0.75;
}

select{
	-webkit-appearance: none;
	font-family: 'Open Sans';
}

#radar{
	display: inline-block;
}

.row-centered {
    text-align: center;
}

#one{
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}

#two{
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
	height: 200px;
}

#three{
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}

#bold{
	font-weight: bold;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/Montserrat.ttf') format('truetype');
}

html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

a {
	color: #4a4a4a;
}

.black{
	color: #4a4a4a;	
}

h2{
	color: #44505A;
	font-family: 'Open Sans';
	font-weight: bold;
}

h6{
	color: #44505A;
}

.automate{
	margin-top: 120px;
}

label {
	font-family: 'Open Sans';
	font-size: 400;
	color: #44505A;
}

input {
	font-family: 'Open Sans';
	font-size: 400;
}

.countdown {
	display: inline-block;
	float: right;
	color: grey;
}

.glyph{
	margin-right: 2.5px;
}

.tweet {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #44505A;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

body {
	background-color: #FFF;
}

.home{
	background-color: #FFF;
	margin-top: -10px;
	height: 100vh;
}

.layer {
	background-color: rgba(74,144,226,0.5);
	margin-top: -10px;
	height: 100vh;
}

.group {
	display: block;
	margin-top: 10px;
}

.group a{
	color: #44505A;	
}

.glyphicon {
	color: #44505A;
}

.next {
	display: block;
}

.input {
	border-radius: 5px;	
	font-family: 'Open Sans';
}

.test {
	height: 120px;
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.task5 {
	height: 120px;
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}


li {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	display: inline;
	padding-right: 50px;
	margin-top: 25px;
}

.stripebutton{
	margin-bottom: 15px;
	display: inline-block;
}

.logo{
	height: 65px;
	margin-top: 15px;
	margin-left: 15px;
}

.barlogo{
	height: 65px;
	margin-top: 10px;
	margin-left: 15px;
}

.feature{
	margin-top: -20px;
	margin-right: 300px;
	font-size: 14px;
	font-family: 'Montserrat';
	color: #FFF; 
	float: right;
}

.blog{
	margin-top: -30px;
	margin-right: 180px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #4A4A4A; 
	float: right;
}

.login{
	margin-top: -30px;
	margin-right: 55px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #4A4A4A; 
	float: right;
}

.loginbox{
	display: block;
	margin-top: 80px;	
}

.header{
	margin-top: 60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	font-weight: bold;
	color: #4A4A4A;
	-webkit-appearance: none;
}

.header2{
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	font-weight: bold;
	color: #4A4A4A;
	-webkit-appearance: none;
}


.tasks {
	color: black;
	height: 100%;
	width: 100%;	
}

.tasksurround{
	position: absolute;
	left: 25%;
}

.homebar {
	margin-top: 20px;
	height: 200px;
	width: 100%;	
	background-color: #FFF;
}

.task {
	position: relative;
	margin-top: 25px;
	display: inline-block;
	height: 150px;	
}

.task2 {
	position: relative;
	margin-top: 25px;
	display: inline-block;
	height: 150px;	
}

.app {
	margin-top: 10px;
	height: 510px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.copy{
	opacity: .7;
	margin-top: 5px;
	color: #4a4a4a;
	font-family: 'Open Sans';
	font-size: 20px;
	text-align: center;
}

.create {
	position: relative;

	width: 270px;
	height: 90px;
	display: block;

	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 24px;
	color: #FFF;

	border-radius: 21px;
	background: #4A90E2;
	border: 1px solid #44505A;
	box-shadow: 0px 10px 0px #4A72A2;
}

.create:focus {
	outline: 0;
}

.create:hover {
	background: #4A90E2;
}

.create:active { 
	margin-top: 20px;
	box-shadow: 0px 5px 1px #44505A;
}

.whitelogo{
	height: 70px;	
}

.navbar-default{
	border-radius: 0px;
	background-color: white;
	border-color: white;
	margin-bottom: 50px;
}

.bar{
	background: white;
	height: 70px;
	margin-top: 30px;
}

.center{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;	
}

.resetsection{
	background-color: #F6A1A1;
	padding-top: 10px;	
	border-radius: 5px;
}

.warning{
	color: #E52929;
}

.panel-body{
	border-radius: 7px;
}

.panel-default{
	border-radius: 7px;
}

.panel-heading{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.panel-body{
	font-family: 'Montserrat';
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: #FFF;	
}

.new-button{
	margin-top: 17px;
	margin-right: 15px;
	font-family: 'Open Sans';
	font-weight: bold;
}

.right-button{
	margin-left: 35px;
}

p {
	margin-bottom: -10px;
}

.splash{
	margin-left: 80px;
	margin-top: 120px;
}

.splashwhite{
	font-family: 'Montserrat';
	font-size: 30px;
	color: white;
}

.splashfade{
	font-family: 'Montserrat';
	font-size: 30px;
	color: white;
	opacity: .3;
	margin-left: 10px;
}

.splash2{
	float: right;
	position: relative;
	margin-right: 80px;
	margin-top: 250px;
}

.splashfade2{
	float: right;
	font-family: 'Montserrat';
	font-size: 30px;
	color: white;
	opacity: .5;
	margin-top: 5px;
	margin-right: -10px;
}

.resetpass{
	margin-top: 10px;	
}

.remaining {
	text-align: center;
	margin-top: 20px;	
	font-size: 20px;
}

.pay {
	font-family: 'Open Sans';
	font-weight: bold;
	background-color: white;
	padding-top: 10px;	
	border-radius: 5px;
}

.package {
	text-align: center;
	display: inline-block; 
	margin-left: 13px;
}

.forget{
	margin-top: 10px;
	color: #44505A;
}

.panel-heading{
	text-align: center;	
}

.content {
	font-family: 'Montserrat';
	color: #44505A;
}

.pinbuttons{
	margin-right: 20px;
}

.upvotes{
	font-family: 'Montserrat';
	display: inline-block;
	height: 20px;
	margin-left: 10px;
	padding-right: 10px;
}

.karma {
	font-size: 12px;
	font-family: 'Montserrat';
	padding-top: 17px;
}

.updatebutton{
	margin-bottom: 15px;
}

.btn-primary {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.btn-success {
	margin-right: 5px;	
	font-weight: bold;
	background-color: #2ECC71;
	font-family: 'Open Sans';
}

.btn-reset {
	margin-top: 10px;
	color: #FFF;
	background-color: #F16960;
	font-family: 'Open Sans';	
	font-weight: bold;
}

.btn-clear {
	display: inline-block;
	float: right;
	margin-top: -55px;
	margin-right: 15px;
	color: #FFF;
	background-color: #F16960;
	font-family: 'Open Sans';	
	font-weight: bold;
}

.btn-danger {
	font-family: 'Open Sans';
	font-weight: bold;
	margin-top: 15px;
	width: 90px;
	background-color: #F16960;
	border-color: #F16960;
}

.btn-default {
	font-family: 'Montserrat';	
}

.btn-evernote {
	background-color: green;
	color: white;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-pocket {
	background-color: #EF3E56;
	color: white;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-twitter {
	background-color: #4099FF;
	color: white;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-instagram{
	background-color: #517FA4;
	color: white;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-dropbox{
	background-color: #007EE5;
	color: white;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-analyse-tweet{
	background-color: #7FB7FD;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #FFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-cancel-analyse-tweet{
	background-color: #F16960;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #FFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-schedule-tweet{
	background-color: #7FB7FD;
	color: #FFF;
	display: block;
	margin-top: 10px;
	float: right;
	font-family: 'Open Sans';
	font-weight: bold;
}

.btn-schedule-facebook{
	background-color: #3B5998;
	color: white;
	display: block;
	margin-top: 10px;
	float: right;
}

.btn-traveller{
	border-radius: 10px;
	background-color: #71CE8B;
	width: 250px;
	height: 300px;
	color: #FFF;
	padding-top: 30px;
	font-size: 25px;
}

.btn-explorer{
	border-radius: 7px;
	background-color: #41B4D6;
	width: 250px;
	height: 300px;
	color: #FFF;
	padding-top: 30px;
	font-size: 25px;
}

.btn-astronaut{
	border-radius: 7px;
	background-color: #7FB7FD;
	width: 250px;
	height: 300px;
	color: #FFF;
	padding-top: 30px;
	font-size: 25px;
}

.twitterlogo{
	height: 25px;
}

.facebooklogo{
	height: 20px;
}

.history{
	color: #44505A;
	margin-bottom: 20px;
	margin-left: 15px;
	font-family: 'Open Sans', sans-serif;
}

.tweetcontainers {
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;	
}

.tweettime{
	float: right;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.tweettimescheduled{
	float: right;
	color: #44505A;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}


.scheduled {
	background-color: #EEE;
	border: #EEE;
	color: #44505A;
}

.passed {
	background-color: #8FED76;
	border: #8FED76;
	color: #44505A;
}

.tweetcontentscheduled{
	color: #44505A;
	display: inline-block;
	margin-left: 3px;
	font-family: 'Open Sans';
	font-weight: bold;
}

.tweetcontent{
	color: #FFF;
	display: inline-block;
	margin-left: 3px;
	font-family: 'Open Sans';
	font-weight: bold;
}

.signed-in{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -50px;
	text-align: center;
}

.forgot{
	opacity: .7;
	color: #44505A;
}

.confirm{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: center;
}

.confirm-schedule{
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: center;
}

.left{
	margin-bottom: 10px;
}

.floatleft{
	float: left;
	margin-left: 12px;
	font-family: 'Open Sans';
}

.lowerfloatleft{
	float: left;
	margin-top: 10px;
	margin-left: 12px;
	font-family: 'Open Sans';
}

.inline{
	display: inline-block;
	margin-left: 5px;
}

.preview{
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.helpgrowth{
	font-family: 'Open Sans';
	font-size: 50px;
}

.taghelpgrowth{
	font-family: 'Open Sans';
	font-size: 17px;
	margin-bottom: 20px;
}

.hashtag-form-control {
  display: block;
  width: 95%;
  padding: 6px 12px;
  margin-left: 12px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #DDD;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.hashtag-form-control:focus {
  display: block;
  width: 95%;
  padding: 6px 12px;
  margin-left: 12px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.message-form-control {
  display: block;
  width: 95%;
  padding: 6px 12px;
  margin-left: 12px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 90px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #DDD;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.message-form-control:focus {
  display: block;
  width: 95%;
  padding: 6px 12px;
  margin-left: 12px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 90px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.reachcount{
	font-family: Open Sans;
	font-weight: bolder;
	font-size: 150px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: -150px;
	color: #44505A;
}

.peoplereached{
	font-family: Open Sans;
	font-weight: bold;
	font-size: 3vh;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: #44505A;
	margin-top: -40px;
	margin-bottom: 50px;
}

.btn-grow{
	background-color: #9ACF93;
	font-weight: bold;
	color: #FFF;
	display: block;
	margin-top: 10px;
	float: right;
}

.stats{
	height: 200px;
}

.btn-resetpass {
	font-family: 'Open Sans';
	font-weight: bold;
	margin-top: 15px;
	width: 300px;
	background-color: #e74c3c;
	color: #FFF;
}